body {
  background-color: aqua;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat
 
  /*background-image: url('flor.png');
  
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
